


/*  */
.bg-feu {
    background-color: #C81516;
}

.bg-eau {
    background-color: #1C92E8;
}

.bg-plante {
    background-color: #3BB143;
}

.bg-electrique {
    background-color: #F8D030;
}

.bg-glace {
    background-color: #98D8D8;
}

.bg-combat {
    background-color: #C03028;
}

.bg-poison {
    background-color: #A040A0;
}

.bg-sol {
    background-color: #E0C068;
}

.bg-vol {
    background-color: #A890F0;
}

.bg-psy {
    background-color: #F85888;
}

.bg-insecte {
    background-color: #A8B820;
}

.bg-roche {
    background-color: #B8A038;
}

.bg-spectre {
    background-color: #705898;
}

.bg-dragon {
    background-color: #7038F8;
}

.bg-tenebres {
    background-color: #705848;
}

.bg-acier {
    background-color: #B8B8D0;
}

.bg-fee {
    background-color: #EE99AC;
}

.bg-normal {
    background-color: #A8A878;
}