.header{
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow{
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 50px;
    font-size: 70px;
    cursor: pointer;
    color: #fff;
}
.shiny button{
    border-radius: 100px;
    background-color: transparent;
    border: 3px solid #fff;
    filter: drop-shadow(5px 5px 10px #000000);
}
.shiny:hover img{
    transform: scale(1.1);
    transition: 0.2s;
}
.shiny img{
    width: 60px;
}
h1{
    font-size: 80px;
    text-align: center;
}




.progress-container {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #e0e0e0;
    border-radius: 20px;
    overflow: hidden;
  }

  .progress-bar-hp {
    position: absolute;
    height: 100%;
    background-color: #00FF00;
  }
  .progress-bar-atk {
    position: absolute;
    height: 100%;
    background-color: #FF4500;
  }
  .progress-bar-def {
    position: absolute;
    height: 100%;
    background-color: #228B22;
  }
  .progress-bar-atk-spe {
    position: absolute;
    height: 100%;
    background-color: #8A2BE2;
  }
  .progress-bar-def-spe {
    position: absolute;
    height: 100%;
    background-color: #00CED1;
  }
  .progress-bar-vit {
    position: absolute;
    height: 100%;
    background-color: #FFFF00;
  }
  
  .progress-text {
    position: absolute;
    right: 40px;
    width: 100%;
    font-size: 20px;  
    color: #333;  
  }







/* Pipe */
.bg-feu {
    background-color: #C81516;
}

.bg-eau {
    background-color: #1C92E8;
}

.bg-plante {
    background-color: #3BB143;
}

.bg-electrique {
    background-color: #F8D030;
}

.bg-glace {
    background-color: #98D8D8;
}

.bg-combat {
    background-color: #C03028;
}

.bg-poison {
    background-color: #A040A0;
}

.bg-sol {
    background-color: #E0C068;
}

.bg-vol {
    background-color: #A890F0;
}

.bg-psy {
    background-color: #F85888;
}

.bg-insecte {
    background-color: #A8B820;
}

.bg-roche {
    background-color: #B8A038;
}

.bg-spectre {
    background-color: #705898;
}

.bg-dragon {
    background-color: #7038F8;
}

.bg-tenebres {
    background-color: #705848;
}

.bg-acier {
    background-color: #B8B8D0;
}

.bg-fee {
    background-color: #EE99AC;
}

.bg-normal {
    background-color: #A8A878;
}